prune {{ cookiecutter.package_slug }}/web_client
include {{ cookiecutter.package_slug }}/web_client/dist/girder-plugin-{{ cookiecutter.package_name }}.umd.cjs
include {{ cookiecutter.package_slug }}/web_client/dist/style.css
